# db-service.env file is optional, but env variables are prioritized over YAML config.
export SH_DB_HOST=127.0.0.1
export SH_DB_PORT=5432
export SH_DB_NAME=smart_home
export SH_DB_USER=smart_home_admin
export SH_DB_PASSWORD=insert_password
