# web-server.env file is optional, but env variables are prioritized over YAML config.

# Expected format: [SCHEME]://[HOST]:[PORT](optional) eg. http://127.0.0.1:8080
export SH_ALLOWED_ORIGIN=http://localhost